
.room-list {
  list-style-type: none;
  overflow-y: auto;
  height: 50vh;
  width: 50vw;
  padding: 10px;
  background-color: #cfcfcf;
  margin: 0;
  position: relative; 
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.room-item {
  background-color: #f0f0f0;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.room-item:hover {
  background-color: #d9d9d9;
}

.room-key-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.3s;
}

.room-key-button:hover {
  background-color: #bfbfbf;
}

.players-count, .no-rooms {
  user-select: none;
}

.join-button {
  background-color: #efefef;
  margin: 3px
}

.join-parent-buttons {
  position: absolute;
  bottom: 0; 
  width:98%;
  /*with 98 because of the margin. <- this is bad coding*/
  justify-content: center;
}

.search-bar {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  width: 50%; 
  box-sizing: border-box; 
  margin-bottom: 10px;
}

.search-bar::placeholder {
  color: #888;
  font-style: italic;
}

.search-bar:hover {
  border-color: #333;
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .search-bar {
    padding: 10px;
    font-size: 14px;
  }
}
